<h1>Import Images</h1>

<%= form_tag({}, { :multipart => true }) do %>
  <div> Drag onto 'Choose Files' button! </div> <br/>
  <%= file_field_tag "image_data[]",
    { :multiple => "multiple", :class => :files_input, :accept => "image/*" } %>
  <br/>
  <%= submit_tag %>
<% end %>

<div class="image_previews">
</div>
