<h1> Redis Server is Down </h1>

<p>
  This game requires a special communications and caching server called Redis to work.
</p>

<p>
  Right now, no worky.
</p>

<p>
  If you're a game administrator, <%= link_to("the admin page", :controller => :admin) %>
  can help you start the server.
</p>
