<h1> Not logged in </h1>

<p>
  To play this game, you'll first have to tell us who you are.
</p>

<p>
  Please <%= link_to("log in", new_user_session_path) %>
  or <%= link_to("register", new_user_registration_path) %>.
</p>
